@model ReleaseCandidateTracker.Models.ReleaseCandidate

@{
    ViewBag.Title = "Details of release candidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details of @Model.ProductName @Model.VersionNumber</h2>

<fieldset>
    <div class="display-label">Product Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">Creation Date (UTC)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">Version Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VersionNumber)
    </div>

    <div class="display-label">History</div>        
    <div class="display-field">
        @foreach (var historyItem in Model.History.Reverse()) {
            <div>@historyItem.Date: @historyItem.StateChange</div>
        }
    </div>

    <div class="display-label">Deployments</div>        
    <div class="display-field">
        @foreach (var deployment in Model.Deployments.Reverse()) {
            <div>@deployment.Date: @Html.ActionLink(deployment.Environment, "Details", "Environment", new { name = deployment.Environment }, new { })</div>
        }
    </div>
</fieldset>
<p>    
    @Html.ActionLink("Deploy", "GetScript", "ReleaseCandidateApi", new { versionNumber = Model.VersionNumber }, new object()) |
    @Html.ActionLink("Edit", "Edit", new { versionNumber = Model.VersionNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
