@model ReleaseCandidateTracker.ViewModels.ReleaseCandidateListViewModel

@{
    ViewBag.Title = "Release candidate list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="environmentSummary">
@foreach (var env in Model.Environments)
{
    <span>
         @Html.ActionLink(env.Name, "Details", "Environment", new { name = env.Name }, new object()) : @(env.CurrentVersion != null ? Html.ActionLink(env.CurrentVersion, "Details", new { versionNumber = env.CurrentVersion }) : new HtmlString("n/a"))
    </span>
}
</div>

<h2>Release candidates</h2>

<table>
    <tr>
        <th>
            ProductName
        </th>
        <th>
            CreationDate (UTC)
        </th>
        <th>
            State
        </th>
        <th>
            VersionNumber
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { versionNumber = item.FullVersion }) |
            @Html.ActionLink("Details", "Details", new { versionNumber = item.FullVersion }) |
            @Html.ActionLink("Deploy", "Deploy", "ReleaseCandidate", new { versionNumber = item.FullVersion }, new object())
        </td>
    </tr>
}
</table>
<div id="nextPage">
@if (!Model.First) {
@Html.ActionLink("<< Prev", "Index", new { page = Model.Page - 1 })
}
@if (!Model.First && !Model.Last) {<text>&nbsp;|&nbsp;</text>}
@if (!Model.Last) {
@Html.ActionLink("Next >>", "Index", new { page = Model.Page + 1 })
}
</div>